body{
    background-color:black;
}

.row1, .row2{
    justify-content:center;
	display: flex;
    flex-direction: row;
    width:90vw;
    
}

.row2{
    justify-content:left;
    
}

#canvas{
    cursor: crosshair;
    width:90%;
    margin-left:0px;
    
 }




.console_user{
    background-color:black;
    color:Lime;
    font-family: courier;
    font-size:.8rem;
    text-align:left;
    height:40px;
    border:2px dotted orangered;
    padding:10px;
    box-shadow:0 0 40px 10px DarkCyan;
    width:80%;
    top:0;
    position:fixed;
    overflow-y: scroll;
    overflow-x:visible;
}

.vessel_img_h6, .vessel_img_v6{
    
    margin-top:5%;
    width:240px;
    height:92px;
    transition: 1s;
    float:center;
}

.vessel_img_v6, .vessel_img_v6_v{
    position: relative;
    width:184px;
    height:120px;
    
}

.vessel_img_v6, .vessel_img_v5, .vessel_img_v4, .vessel_img_v3, .vessel_img_v2, .vessel_img_v1{
    transform:rotate(90deg);
}

.vessel_img_h5, .vessel_img_v5{
    position: relative;
    margin-top:5%;
    width:300px;
    height:46px;
    transition: .5s;
    float:center;
}

.vessel_img_v5, .vessel_img_v5_v{
    
    width:230px;
    height:60px;
    
}



.vessel_img_h4, .vessel_img_v4{
    position: relative;
    margin-top:5%;
    width:240px;
    height:46px;
    transition: .5s;
    float:center;
}

.vessel_img_v4, .vessel_img_v4_v{
    
    width:184px;
    height:60px;
    
}


.vessel_img_h3, .vessel_img_v3{
    position: relative;
    margin-top:5%;
    width:180px;
    height:46px;
    transition: .5s;
    float:center;
}

.vessel_img_v3, .vessel_img_v3_v{
    
    width:138px;
    height:60px;
    
}



.vessel_img_h2, .vessel_img_v2{
    position: relative;
    margin-top:5%;
    width:120px;
    height:46px;
    transition: .5s;
    float:center;
}

.vessel_img_v2, .vessel_img_v2_v{
    
    width:92px;
    height:60px;
    
}



.vessel_img_h1, .vessel_img_v1{
    position: relative;
    margin-top:5%;
    width:60px;
    height:46px;
    transition: .5s;
    float:center;
}

.vessel_img_h1:hover, .vessel_img_h2:hover, .vessel_img_h3:hover
, .vessel_img_h4:hover, .vessel_img_h5:hover, .vessel_img_h6:hover{
    transform:rotate(25deg);
}

.vessel_img_v1:hover, .vessel_img_v2:hover, .vessel_img_v3:hover
, .vessel_img_v4:hover, .vessel_img_v5:hover, .vessel_img_v6:hover{
    transform:rotate(75deg);
}

.vessel_img_v1, .vessel_img_v1_v{
    
    width:46px;
    height:60px;
    
}

.green_shapes_a, .green_shapes_b, .green_shapes_c, 
.green_shapes_d, .green_shapes_e, .green_shapes_f {

    cursor:grab;
    position:relative;
    margin-bottom:40px;
    transition:.5s;
}

.green_shapes_a:hover, .green_shapes_b:hover, .green_shapes_c:hover, 
.green_shapes_d:hover, .green_shapes_e:hover, .green_shapes_f:hover {
    transform:scale(1.2);
}

.green_shapes_a{
    width:45px;
    height:35px;
}

.green_shapes_b{
    width:60px;
    height:23px;
}

.green_shapes_c{
    width:90px;
    height:23px;
}

.green_shapes_d{
    width:120px;
    height:23px;
}

.green_shapes_e{
    width:150px;
    height:23px;
}

.green_shapes_f{
    width:120px;
    height:46px;
}

.col1{
    margin-left:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    position:absolute;
}


.buton1{
    width:50px;
    height:50px;
    cursor:pointer;
    transition:1s;
}

.buton1:hover{
    transform:scale(1.2);
    transform:rotate(-360deg);
}



